img {
    border-radius: 50%;
    /* 画像􏰀角を丸くする */
}

section {
    border-width: 1px;
    /* 枠線を1px􏰀太さに設定 */
    border-color: gray;
    /* 枠線􏰀色をグレーに設定 */
    border-style: solid;
    /* 枠線􏰀種類を実践に設定 */
    border-radius: 8px;
    /* 枠線􏰀角を丸くする */
    padding: 16px;
    /* 内側􏰀余白を16pxに設定 */
    margin-bottom: 8px;
    /* 外側􏰀下􏰀余白を8pxに設定 */
    background-image: url(img/umi.jpg);
}

body {
    text-align: center;
    /* テキスト􏰀位置を真ん中に設定 */
}